@import "../../globals/theme.scss";
@import "../feedback/feedback.styles.scss";

.ContactMe-Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .Contacts-Container {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $smallScreenWidth) {
      width: 90%;
      min-width: 0;
    }
  }
}
