$primary: #062940;
$sub-primary: #0863a0;
$title-font: '';
$theme-font: 'Ubuntu';
$page-minimum-width: 803px;

:export {
    darknavy: $primary;
    titleFont: $title-font;
    themefont: $theme-font;
    pageminwidth: $page-minimum-width;
    subprimary: $sub-primary;
}