
$primary: #062940;
$sub-primary: rgb(231, 243, 255);
$theme-font: 'Abel';
$page-minimum-width: 538px;

:export
{
    darknavy: $primary;
    themefont: $theme-font;
    pageminwidth: $page-minimum-width;
    subprimary: $sub-primary;
}
