.Home-Page
{
    .profile-picture-container
    {
        background-color: black;
        border-width: 1px;
        border-color: black;
        position: absolute;
        left: 5px;
        height: 520;
        width: 420;
    }
    .profile-picture
    {
        background-color: black;
        border-width: 1px;
        border-color: black;
        position: absolute;
        left: 5px;
        height: 520;
        width: 400;
    }
    .infoCard
    {
        width: 45%;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        display: flex;
        flex-direction: column;
        background-color: #95a2da;
        border: 1.5px solid rgb(0, 0, 0);
        border-radius: 5px;
        padding: 25px;
        -moz-osx-font-smoothing: grayscale;
        backface-visibility: hidden;
        position: absolute;
        right: 10px;


        transform: translateZ(0);
        transition: transform 0.25s ease-out;

        .card-container:hover
        {
            transform: scale(1.05);
        }
    }
}