@import "../../globals/_theme.scss";
$buttonTransitionTime: 0.05s;
$borderRadius: 4px;
%test {
  position: absolute;
  content: "";
  transition: all $buttonTransitionTime;
}
.Feedback-Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70vh;

  .feedback-entries-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .give-feedback-container {
    width: 35vw;
    min-width: 600px;
    padding: 4vmin;
    margin-bottom: 0.7vmin;
    margin-top: 10px;
    border-radius: 20px;

    transform: translate(-2%, -2%);
    font-family: $theme-font;
    transition: all $theme-transition;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include themed() {
      background-color: lighten(t($container-color), 75%);
      color: t($text-color);
    }
  }

  .button-container {
    height: 1vmin;
    margin-bottom: 2vmin;
  }

  .sign-in-button {
    display: inline-block;
    padding: 20px 40px;
    color: white;
    transform: translate(-5%, -15%);
    font-family: $theme-font;
    text-decoration: none;
    font-size: 2vmin;
    transition: all $buttonTransitionTime, background-color $theme-transition;
    border-width: 0px;

    @include themed() {
      background-color: t($primary);
    }
    &::before {
      //bottom side
      @extend %test;
      bottom: -11px;
      height: 11px;
      width: 100%;
      left: 6px;
      transform: skewX(45deg);
      transition: all $buttonTransitionTime, background-color $theme-transition;
      @include themed() {
        background-color: darken(t($primary), 7%);
      }
    }

    &::after {
      // right side
      @extend %test;
      right: -10px;
      height: 100%;
      width: 10px;
      bottom: -5px;
      transform: skewY(45deg);
      @include themed() {
        background-color: darken(t($primary), 30%);
      }
      transition: all $buttonTransitionTime, background-color $theme-transition;
    }

    &:active {
      margin-left: 10px;
      margin-top: 10px;
      &::before {
        bottom: -5px;
        height: 5px;
        left: 3px;
      }

      &::after {
        right: -5px;
        width: 5px;
        bottom: -3px;
      }
    }

    &:hover {
      @include themed() {
        background-color: darken(t($primary), 5%);
      }
      transition: all $buttonTransitionTime, background-color 0.1s;
    }
  }

  .post-submit-message {
    font-family: $theme-font;
    @include themed() {
      color: darken(t($text-color), 20%);
    }
  }
}
