@import "../../globals/_theme.scss";
$buttonTransitionTime: 0.05s;
$borderRadius: 4px;
%test {
  position: absolute;
  content: "";
  transition: all $buttonTransitionTime;
}
.Feedback-Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70vh;

  .feedback-entries-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .give-feedback-container {
    width: 35vw;
    min-width: 600px;
    padding: 2vmin;
    margin-bottom: 1vmin;
    margin-top: 12px;
    border-radius: 10px;
    font-family: $theme-font;
    transition: all $theme-transition;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include themed() {
      background-color: t($container-color);
      border: solid 3px t($primary);
      color: t($text-color);
    }
  }

  .button-container {
    height: 1vmin;
    margin-bottom: 3vh;
  }

  .sign-in-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 15px 28px;
    transform: translate(-5%, -13%);
    font-family: $theme-font;
    text-decoration: none;
    font-size: 1.25em;
    transition: all $buttonTransitionTime, background-color $theme-transition;
    border-width: 0px;

    @include themed() {
      background-color: t($primary);
      color: darken(t($text-color), 10%);
    }
    &::before {
      //bottom side
      @extend %test;
      bottom: -11px;
      height: 11px;
      width: 100%;
      left: 6px;
      transform: skewX(45deg);
      transition: all $buttonTransitionTime, background-color $theme-transition;
      @include themed() {
        background-color: darken(t($primary), 7%);
      }
    }

    &::after {
      // right side
      @extend %test;
      right: -12px;
      height: 99%;
      width: 12px;
      bottom: -6px;
      transform: skewY(45deg);
      @include themed() {
        background-color: darken(t($primary), 30%);
      }
      transition: all $buttonTransitionTime, background-color $theme-transition;
    }

    &:active {
      margin-left: 10px;
      margin-top: 2vh;
      transform: translate(-5%, -10%);
      &::before {
        bottom: -5px;
        height: 5px;
        left: 3px;
      }

      &::after {
        right: -5px;
        width: 5px;
        bottom: -3px;
      }
    }

    &:hover {
      @include themed() {
        background-color: darken(t($primary), 5%);
      }
      transition: all $buttonTransitionTime, background-color 0.1s;
    }
  }

  .post-submit-message {
    font-family: $theme-font;
    @include themed() {
      color: darken(t($text-color), 20%);
    }
  }

  .Load-More-Button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translate(-2.5%, 0%);
    margin-top: 15px;
    margin-bottom: 8px;
    height: 100%;
    width: 15%;
    height: 7vh;
    @include themed() {
      background-color: t($container-color);
    }
    transition: all $buttonTransitionTime;
    border: none;

    &::before {
      //bottom side
      @extend .block;
      @extend .bottom;
      bottom: -8px;
      height: 8px;
      width: 100%;
      left: 4px;
      @include themed() {
        box-shadow: 0px 5px 5px t($shadow-color);
      }
      transition: all $buttonTransitionTime;
    }

    &::after {
      //right side
      @extend .block;
      @extend .side;
      right: -8px;
      height: 100%;
      width: 8px;
      bottom: -4px;
      @include themed() {
        box-shadow: 5px 0px 5px t($shadow-color);
      }
      transition: all $buttonTransitionTime;
    }

    &:active {
      margin-left: 10px;
      margin-top: 2vh;
      transform: translate(0%, -3%);
      transition: all $buttonTransitionTime;
      &::before {
        bottom: -5px;
        height: 5px;
        left: 3px;
        transition: all $buttonTransitionTime;
      }

      &::after {
        right: -5px;
        width: 5px;
        bottom: -3px;
        transition: all $buttonTransitionTime;
      }
    }
  }
}
