@import '../globals/theme.scss';

.bottombar {
  height: 6.5rem;
  width: 65%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
  border-radius: 17px;
  margin-top: 100px;
  min-width: $page-minimum-width;
  min-width: 771px;

  background-color: white;
  box-shadow: 6px 7px 4px rgb(209, 209, 209);


  .extlinks-container {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    right: 1px;
    bottom: 2px;
    justify-content: flex-end;
  }

}