@import "../globals/_theme.scss";

.bottombar {
  height: 7rem;
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  border-radius: 17px;
  margin-top: 50px;
  min-width: $page-minimum-width;
  min-width: 771px;
  transition: all $theme-transition;

  @include themed() {
    background-color: t($container-color);
    box-shadow: 6px 7px 4px t($shadow-color);
  }

  .switchContainer {
    margin-left: 20px;
    font-family: $theme-font;

    .toggle {
      font-family: $theme-font;
    }
  }

  .extlinks-container {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    right: 1px;
    bottom: 2px;
    justify-content: flex-end;
  }
}
