@import '../globals/theme.scss';

.navigation {
  height: 6.5rem;
  width: 65%;
  margin-top: 20px;
  min-width: 771px;

  display: flex;
  justify-content: left;
  align-content: space-between;
  align-items: center;
  border-radius: 17px;
  margin-bottom: 40px;
  background-color: white;
  box-shadow: 6px 7px 4px rgb(209, 209, 209);

  .nav-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    padding-right: 35px;
  }

  .home-box {
    color: $primary;
    font-family: $theme-font;
    width: 30%;
    min-width: 230px;

    font-size: 40px;
    padding-left: 45px;
    text-decoration: none;
    transition: transform 0.15s ease-out;
  }

  .home-box:hover {
    transform: scale(1.10);
  }

  .box {
    padding-top: 4px;
    width: 11%;
    min-width: 125px;
    max-width: 180px;
    -moz-osx-font-smoothing: grayscale;
    transition: transform 0.25s ease-out;
  }

  .logo-container {
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo {
    max-width: 40px;
    max-height: 40px;
    transition: transform 0.25s ease-out;
  }

  .logo-title {
    font-family: $theme-font;
    color: $primary;
    font-size: 1.1vw;
  }

  .box:hover {
    transition: transform 0.1s;
    box-shadow: 2px 1px 4px inset rgb(183, 183, 183);
    transition: transform 0.25s ease-out;

    .logo {
      transform: scale(1.10);
    }
  }

  .selected-box {
    padding-top: 4px;
    width: 11%;
    min-width: 125px;
    max-width: 180px;
    -moz-osx-font-smoothing: grayscale;
    transition: transform 0.1s;
    box-shadow: 3px 3px 4px inset rgb(209, 209, 209);
  }

}