@import '../globals/theme.scss';

.navigation {
  height: 6.5rem;
  width: 65%;
  margin-top: 20px;
  min-width: 771px;

  display: flex;
  justify-content: left;
  align-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 40px;
  background-color: white;
  box-shadow: 3px 3px 6px rgb(186, 186, 186);
  .nav-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    padding-right: 30px;
  }

  .home-box {
    color: $primary;
    font-family: $theme-font;
    width: 30%;
    min-width: 230px;

    font-size: 40px;
    padding-left: 45px;
    text-decoration: none;
    transition: transform 0.15s ease-out;
  }

  .home-box:hover {
    transform: scale(1.10);
  }

  .box {
    padding-top: 4px;
    width: 11%;
    min-width: 159px;
    max-width: 180px;

    -moz-osx-font-smoothing: grayscale;
    transition: transform 0.25s ease-out;
  }

  .box:hover {
    transform: scale(1.10);
  }

  .logo-container {
    height: 90%;
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo {
    max-width: 50px;
    max-height: 50px;
  }

  .logo-title {
    font-family: $theme-font;
    color: $primary;
    font-size: 26px;
  }
}