@import "../../../globals/_theme.scss";
$buttonTransitionTime: 0.05s;
$borderRadius: 4px;
%test {
  position: absolute;
  content: "";
  transition: all 0.5s;
}

.feedback-entry {
  width: 50vw;
  min-height: 13vh;
  max-height: 23vh;
  margin-bottom: 9px;
  margin-top: 10px;
  transform: translate(-2%, -2%);

  font-family: $theme-font;
  min-width: 710px;
  transition: all $theme-transition;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding: 1vh;
  @include themed() {
    background-color: t($container-color);
    color: t($text-color);
  }

  &::before {
    //bottom side
    @extend %test;
    bottom: -18px;
    height: 17px;
    width: 100%;
    left: 9px;
    transform: skewX(45deg);
    @include themed() {
      background-color: darken(t($container-color), 15%);
    }
  }

  &::after {
    // right side
    @extend %test;
    right: -17px;
    height: 100%;
    width: 16px;
    bottom: -10px;
    transform: skewY(45deg);
    @include themed() {
      background-color: darken(t($container-color), 25%);
    }
  }

  .name-container {
    transition: all $theme-transition;
    font-weight: 500;
    @include themed() {
      color: t($text-color);
      border-bottom: 2px solid t($text-color);
    }
  }
  .message-container {
    width: 97.7%;
    height: 100%;
    padding: 10px;
    overflow-y: hidden;
    transition: all $theme-transition;
    // @include themed() {
    //   background-color: darken(t($background), 8%);
    // }
  }
}
.feedback-entry:hover {
  transition: all $theme-transition;
  margin-left: -120px;
  min-height: 13vh;
  max-height: none;
  //margin-bottom: 50px;
  @include themed() {
    box-shadow: 20px 10px 10px t($shadow-color);
  }

  &::before {
    //bottom
    height: 25px;
    left: 12px;
    bottom: -25px;
    width: 101%;
    @include themed() {
      box-shadow: -15px 25px 15px t($shadow-color);
    }
  }

  &::after {
    //right
    right: -24px;
    width: 24px;
    bottom: -10px;
    height: 96%;
    @include themed() {
      box-shadow: 25px 10px 15px t($shadow-color);
    }
  }
}
