@import "../../../globals/_theme.scss";
$buttonTransitionTime: 0.5s;
$borderRadius: 4px;
%test {
  position: absolute;
  content: "";
  transition: all 0.5s;
}

.feedback-entry {
  width: 50vw;
  min-height: 15vh;
  max-height: 25vh;
  margin-bottom: 9px;
  margin-top: 10px;
  transform: translate(-2%, -2%);

  font-family: $theme-font;
  min-width: 710px;
  transition: all $theme-transition;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 1vh;
  @include themed() {
    background-color: t($container-color);
    color: t($text-color);
  }

  &::before {
    //bottom side
    @extend %test;
    bottom: -18px;
    height: 17px;
    width: 100%;
    left: 9px;
    transform: skewX(45deg);
    @include themed() {
      background-color: darken(t($primary), 18%);
      box-shadow: 0px 10px 10px t($shadow-color);
    }
  }

  &::after {
    // right side
    @extend %test;
    right: -17px;
    height: 100%;
    width: 16px;
    bottom: -10px;
    transform: skewY(45deg);
    @include themed() {
      background-color: darken(t($primary), 25%);
      box-shadow: 10px -1px 10px t($shadow-color);
    }
  }

  .name-container {
    display: flex;
    flex-direction: row;
    gap: 6px;
    justify-content: bottom;
    transition: all $theme-transition;
    font-weight: 400;
    font-size: 1.1em;
    padding-top: 3px;
    padding-left: 8px;
    @include themed() {
      color: t($text-color);
    }
  }
  .date-container {
    font-size: 0.9em;
    transition: all $theme-transition;
    @include themed() {
      color: darken(t($text-color), 15%);
    }
  }
  .message-container {
    width: 97.7%;
    height: 100%;
    padding-left: 8px;
    padding-top: 4px;
    font-size: 1.1em;
    overflow-y: hidden;
    transition: all $theme-transition;
  }
  &:hover {
    transition: all $buttonTransitionTime;
    min-height: 15vh;
    max-height: none;
    transform: translate(-7%, -7%);
    @include themed() {
      box-shadow: 20px 10px 10px t($shadow-color);
    }

    &::before {
      //bottom
      transition: all $buttonTransitionTime;
      height: 17px;
      left: 12px;
      bottom: -18px;
      width: 100.1%;
      @include themed() {
        box-shadow: -10px 10px 15px t($shadow-color);
      }
    }

    &::after {
      //right
      transition: all $buttonTransitionTime;
      right: -20px;
      width: 20px;
      bottom: -8px;
      height: 98%;
      @include themed() {
        box-shadow: 10px 3px 15px t($shadow-color);
      }
    }
  }
}

.first-feedback-entry {
  @extend .feedback-entry;

  animation: slide-in-left 1.3s ease-out;
}
@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translate(-2%, -2%);
    opacity: 1;
  }
}
