@import "../../../globals/theme.scss";

%block {
  position: absolute;
  content: "";
}

$bio-min-height: 45vh;
.bio {
  min-height: $bio-min-height;
  width: 90%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-2%, -2%);
  font-family: $theme-font;
  text-decoration: none;
  font-size: 1vw;
  transition: all $theme-transition;
  @include themed() {
    background-color: t($container-color);
    color: t($text-color);
    box-shadow: 28px 28px 20px t($shadow-color);
  }

  &::before {
    //bottom side
    @extend %block;
    bottom: -18px;
    height: 17px;
    width: 100%;
    left: 8px;
    transform: skewX(45deg);
    transition: all $theme-transition;
    @include themed() {
      background-color: darken(t($primary), 16%);
    }
  }

  &::after {
    //right side
    @extend %block;
    right: -17px;
    height: 100.1%;
    width: 17px;
    bottom: -10px;
    transform: skewY(45deg);
    transition: all $theme-transition;
    @include themed() {
      background-color: darken(t($primary), 25%);
    }
  }
}

.content-container {
  margin: 2%;
}
