@import "../../../globals/theme.scss";

.Home-Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 95%;

  .portrait {
    height: 39vw;
    min-height: 800px;
    width: 25%;
    @include themed() {
      background-color: t($container-color);
    }
  }

  .breast-container {
    width: 99%;
    margin: 0 auto;

    display: flex;
    @include themed() {
      background: t($container-color);
    }
    transition: all $theme-transition;
  }

  $bioSideMargin: 40px;

  .bio {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    border-right-width: 0px;

    margin-top: $bioSideMargin;
    margin-bottom: $bioSideMargin;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    justify-content: right;
    transition: all $theme-transition;
  }

  .categoryDisplay {
    margin-left: 3px;
  }

  .category-info {
    flex: 1;
    background-color: #ffffff3a;
    font-family: $theme-font;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
  }
}
