@import "../../../globals/theme.scss";

$bioSideMargin: 30px;
$border-width: 3px;

.bio {
  width: 97%;

  margin: 0 auto;
  display: flex;
  flex-direction: column;

  margin-top: $bioSideMargin;
  margin-bottom: $bioSideMargin;
  justify-content: center;
  transition: all $theme-transition;

  font-family: $theme-font;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 4vh;
}
