@import "../../globals/theme";
.Vita-Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all $theme-transition;

  .stats-container {
    min-height: 58vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all $theme-transition;
    position: relative;
  }

  .categories-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    width: 50vw;
    height: 50vh !important;
    max-height: 100px;
    padding-top: 1vh;
    top: 0 !important;
    position: sticky !important;
    z-index: 5;
    @include themed() {
      box-shadow: 15px 20px 25px t($shadow-color);
    }
  }

  $buttonTransitionTime: 0.15s;

  %test {
    position: absolute;
    content: "";
    transition: all $buttonTransitionTime, background-color $theme-transition;
  }

  $button-height: 100%;
  $button-width: 12.5vw;
  $button-font-size: 1.5em;
  $button-transform: translate(0%, 4%);
  $button-border-radius: 2px;
  $button-border-width: 0px;

  .button-consistency {
    font-size: $button-font-size;
    border-radius: $button-border-radius;
    border-width: $button-border-width;
    height: $button-height;
    width: $button-width;
  }

  .categoryButton {
    @extend .button-consistency;
    display: inline-block;
    font-family: $theme-font;
    transform: translate(-4%, -4%);
    @include themed() {
      background-color: t($primary);
    }
    transition: all $buttonTransitionTime, background-color $theme-transition;

    &::before {
      //bottom side
      @extend %test;
      bottom: -16px;
      height: 16px;
      width: 100%;
      left: 8px;
      transform: skewX(45deg);
      @include themed() {
        background-color: darken(t($primary), 14%);
      }
    }

    &::after {
      // right side
      @extend %test;
      right: -15px;
      height: 100%;
      width: 16px;
      bottom: -8px;
      transform: skewY(45deg);
      @include themed() {
        background-color: darken(t($primary), 25%);
      }
    }

    &:active {
      transform: $button-transform;

      &::before {
        //bottom side
        @extend %test;
        bottom: -15px;
        height: 17px;
        width: 100%;
        left: 8px;
        transform: skewX(45deg);

        bottom: -5px;
        height: 6px;
        left: 3px;

        @include themed() {
          background-color: darken(t($primary), 17%);
        }
      }

      &::after {
        // right side
        @extend %test;
        right: -15px;
        height: 96%;
        bottom: -7px;
        transform: skewY(45deg);

        right: -5px;
        width: 6px;
        bottom: -1px;

        @include themed() {
          background-color: darken(t($primary), 25%);
        }
      }
    }

    &:hover {
      transition: all $buttonTransitionTime, background-color 0.1s;
      @include themed() {
        background-color: lighten(t($primary), 10%);
      }
    }

    .category-text {
      margin-left: 5px;
      margin-right: 5px;
      @include themed() {
        color: t($text-color);
      }
    }
  }

  .categoryButtonSelected {
    @extend .button-consistency;

    display: inline-block;
    font-family: $theme-font;
    transition: all $buttonTransitionTime, background-color $theme-transition;
    transform: $button-transform;

    @include themed() {
      background-color: t($primary);
    }

    &::before {
      //bottom side
      @extend %test;
      bottom: -15px;
      height: 17px;
      width: 100%;
      left: 8px;
      transform: skewX(45deg);
      bottom: -5px;
      height: 6px;
      left: 3px;

      @include themed() {
        background-color: darken(t($primary), 14%);
      }
    }

    &::after {
      // right side
      @extend %test;
      right: -15px;
      height: 96%;
      bottom: -7px;
      transform: skewY(45deg);

      right: -5px;
      width: 6px;
      bottom: -1px;

      @include themed() {
        background-color: darken(t($primary), 25%);
      }
    }

    .category-text {
      margin-left: 5px;
      margin-right: 5px;
      @include themed() {
        color: t($text-color);
      }
    }
  }
}
