@import "../../../../globals/_theme.scss";
$buttonTransitionTime: 0.15s;
%block {
  @extend .block;
}

.Experience-Container {
  @extend .fade-in;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 4vh;
  min-height: 15vh;

  .Time {
    transition: all $theme-transition;
    font-family: $theme-font;
    font-size: 2em;
    padding-left: 10px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 1vh;

    transform: translate(-2.5%, -2.5%);
    font-family: $theme-font;
    text-decoration: none;
    transition: all $theme-transition;
    margin-top: 2vh;
    @include themed() {
      background-color: t($background-center);
      color: t($text-color);
      box-shadow: 28px 28px 20px t($shadow-color);
    }

    &::before {
      //bottom side
      @extend %block;
      @extend .bottom;
    }

    &::after {
      //right side
      @extend %block;
      @extend .side;
    }
  }

  .College-Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .College-Jobs {
      display: flex;
      flex-direction: column;
      width: 49%;
      transform: translate(-1%, -1%);
    }
    .Highschool-Jobs {
      @extend .College-Jobs;
      justify-content: space-between;
    }
  }

  .Experience-Block {
    display: flex;
    flex-direction: row;

    transform: translate(-2%, -2%);
    font-family: $theme-font;
    font-size: 1.3em;
    text-align: center;
    text-decoration: none;
    transition: all $theme-transition, transform 0.4s;
    margin-top: 2vh;
    padding: 18px;

    @include themed() {
      background-color: t($container-color);
      color: t($text-color);
      box-shadow: 28px 28px 20px t($shadow-color);
    }

    &::before {
      //bottom side
      @extend %block;
      @extend .bottom;
    }

    &::after {
      //right side
      @extend %block;
      @extend .side;
    }

    &:hover {
      //right side
      transform: translate(-4%, -4%);
    }
  }
  .Experience-Block-LSU {
    @extend .Experience-Block;
    margin-right: 0.5%;
    width: 49%;
    justify-content: flex-start;
    flex-direction: column;
  }
  .Experience-Block-Exodus {
    @extend .Experience-Block;
    justify-content: flex-start;
    flex-direction: column;
  }
  .Experience-Block-HS {
    @extend .Experience-Block-LSU;
    margin-right: 1%;
    flex-direction: column;
  }
  .Experience-Block-ARA {
    @extend .Experience-Block;
    gap: 10px;
    align-items: center;
  }
  .Image-Container {
    // @include themed() {
    //   background-color: t($background-center);
    // }
  }
  .ARA-Image {
    height: 25vh;
  }
  .LSU-Image {
    height: 14vh;
    width: 55%;
  }
  .Exodus-Image {
    width: 60%;
  }
  .BRMHS-Image {
    height: 20vh;
  }
  .Mini-Image {
    height: 100%;
  }
}
