@import "../../../../globals/_theme.scss";
.Experience-Container {
  @extend .fade-in;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 4vh;
  min-height: 15vh;
  background-color: red;
}
