.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  width: 80%;
  min-height: 10vh;
  margin-top: 4vh;
  margin-bottom: 2vh;
  .skillTitle {
    width: 80%;
    height: 7.5vh;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 7px;
    background-color: antiquewhite;
  }
}
