@import "../../../../globals/_theme";

.story-logLine {
  margin-bottom: 2vh;
  margin-left: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1em;
  transition: border-color $theme-transition;
  @include themed() {
    border-bottom: 2px solid t($primary);
  }
}
.timeline-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;

  .timeline-line {
    position: relative;
    margin-left: 2vw;
    margin-right: 3vw;
  }

  .timeline-line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all $theme-transition;
    @include themed() {
      border-left: 5px solid t($primary);
    }

    height: 100%;
  }

  .geographic-origin-text-container {
    .geo-line {
      font-size: 0.9em;
    }
    font-size: 0.9em;
    line-height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
