@import "../../../../globals/_theme.scss";
@import "../../vita.styles.scss";
.Summary-Container {
  @extend .fade-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-top: 7vh;
  min-height: 25vh;
}
.categoryButtonSummary {
  @extend .categoryButton;
  width: auto;

  @media screen and (max-width: $smallScreenWidth) {
    width: 95%;
  }
}
