@import "../../../globals/theme.scss";
$buttonTransitionTime: 0.07s;
$borderRadius: 4px;

$mobile-width: 900px;

%test {
  position: absolute;
  content: "";
  transition: all $buttonTransitionTime;
}

.image-container {
  border-radius: 2px;
  height: 100%;
  width: 30%;
  background-color: transparent;

  transition: all $theme-transition;
}

.text-container {
  @include themed() {
    border-top: 1px solid t($primary);
    border-bottom: 1px solid t($primary);
  }
  border-radius: 2px;
  height: 90%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all $theme-transition;

  @media screen and (max-width: $mobile-width) {
    width: 95%;
    padding: 15px;
  }
}

.text {
  @include themed() {
    color: t($text-color);
  }

  font-family: $theme-font;
  text-decoration: none;
  font-size: 1.25rem;
  text-align: center;
  transition: all $theme-transition;
}

.name-text {
  @include themed() {
    color: t($text-color);
  }
  font-family: $theme-font;
  text-decoration: none;
  font-size: 1.25rem;
  text-align: left;
  margin-bottom: 5px;
  transition: all $theme-transition;
  text-align: center;
}
