.RealHome-Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98%;
}

.stats-container {
  height: 780px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.button-container {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

$buttonTransitionTime: 0.07s;
$borderRadius: 4px;

%test {
  position: absolute;
  content: "";
  transition: all $buttonTransitionTime;
}

.toVenturesButton {
  display: inline-block;
  padding: 5px 10px;
  color: white;
  transform: translate(-5%, -5%);
  vertical-align: middle;
  text-decoration: none;
  font-family: 'Abel';
  font-size: 1.2vw;
  transition: all $buttonTransitionTime;
  background-color: rgb(4, 19, 37);

  border-width: 1px;
  border-radius: $borderRadius;
  border-bottom-right-radius: 0px;
}

.toVenturesButton:before {
  //bottom side
  @extend %test;
  bottom: -15px;
  height: 15px;
  width: 102%;
  left: 6.5px;
  transform: skewX(45deg);
  background-color: darken(rgb(4, 19, 37), 20%);

  border-radius: $borderRadius;
  border-top-right-radius: 0px;
}

.toVenturesButton:after {
  //right side
  @extend %test;
  right: -15px;
  height: 102%;
  width: 15px;
  bottom: -8px;
  transform: skewY(45deg);
  background-color: darken(rgb(4, 19, 37), 30%);

  border-radius: $borderRadius;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 3px;
}

.toVenturesButton:active {
  margin-left: 10px;
  margin-top: 10px;

  &::before {
    bottom: -5px;
    height: 5px;
    left: 2px;
  }

  &::after {
    right: -6px;
    width: 6px;
    bottom: -4px;
  }
}