@import "../../../globals/theme";

.Header-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  .Header {
    @include themed() {
      background-color: t($primary);
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 5vmax;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 5px solid black;
    text-align: center;
    transition: background-color 0.3s;

    .text {
      font-size: 1.7vw;
      color: white;
      font-family: $theme-font;
    }
  }
  .Header:hover {
    @include themed() {
      background-color: darken(t($sub-primary), 10%);
    }
  }
}
