@import "../../../globals/theme";

.Header-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  .Header {
    @include themed() {
      background-color: t($primary);
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 9vh;
    border-radius: 3px;
    margin-bottom: 4.5vh;
    margin-top: 2vh;
    transition: all $theme-transition;
    text-align: center;
    @include themed() {
      border-top: 2px solid darken(t($primary), 25%);
      border-bottom: 2px solid darken(t($primary), 25%);
    }

    .text {
      font-size: 1.7vw;
      font-family: $theme-font;
      @include themed() {
        color: t($text-color);
      }
    }
  }
}
