@import "../../../globals/theme";

.Header-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  .Header {
    @include themed() {
      background-color: t($primary);
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 9vh;
    border-radius: 9px;
    margin-bottom: 2vh;
    transition: background-color $theme-transition;
    text-align: center;
    @include themed() {
      border: 5px solid darken(t($primary), 25%);
    }

    .text {
      font-size: 1.7vw;
      font-family: $theme-font;
      @include themed() {
        color: t($text-color);
      }
    }
  }
  .Header:hover {
    @include themed() {
      background-color: darken(t($primary), 15%);
    }
  }
}
