@import "../../globals/_theme";
.Portfolio-Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .cards-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  .card-container {
    width: 35%;
    height: 45vh;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include themed() {
      background-color: t($container-color);
      box-shadow: 6px 7px 4px t($shadow-color);
    }
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    transition: background-color $theme-transition, border $theme-transition,
      box-shadow $theme-transition transform 0.5s;

    .card-image-container {
      align-items: center;
      justify-content: center;
      background: wheat;
      width: 100%;
      height: 85%;
      .card-image {
      }
    }

    .card-title-container {
      display: flex;
      flex-direction: column;
      @include themed() {
        background: linear-gradient(
          90deg,
          t($background-center) -10%,
          t($container-color) 50%,
          t($background-center) 110%
        );
      }
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      width: 100%;
      flex: 1;
      justify-content: center;
      align-items: center;
      .card-title {
        @include themed() {
          color: t($text-color);
        }
        font-family: $theme-font;
      }
    }
  }
}
