@import "../../globals/_theme";
.Portfolio-Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .cards-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  .card-container {
    width: 35%;
    height: 45vh;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include themed() {
      background-color: t($container-color);
      box-shadow: 6px 7px 4px t($shadow-color);
      border: 1px solid t($primary);
    }
    transition: background-color $theme-transition, border $theme-transition,
      box-shadow $theme-transition;

    .card-image-container {
      align-items: center;
      justify-content: center;
      background: wheat;
      width: 100%;
      height: 80%;
      .card-image {
      }
    }

    .card-title-container {
      display: flex;
      flex-direction: column;
      @include themed() {
        background-color: linear-gradient(
          90deg,
          t($container-color) -10%,
          t($background-center) 50%,
          t($container-color) 110%
        );
      }
      width: 100%;
      flex: 1;
      justify-content: center;
      align-items: center;
      @include themed() {
        border: 2px solid darken(t($primary), 20%);
      }
      .card-title {
        @include themed() {
          color: t($text-color);
        }
        font-family: $theme-font;
        height: 80%;
      }
    }
  }
}
