@import "../../globals/_theme";

.Portfolio-Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .cards-container {
    margin-top: 1.8vh;
    margin-bottom: 6vh;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vh;
  }

  .certs-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-bottom: 2.5vh;
  }
}
