@import './globals/theme.scss';

.website {
    background: linear-gradient(90deg,
            white -10%,
            #f5f4ec 50%,
            white 110%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-width: $page-minimum-width;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: white;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: $sub-primary;
    border-radius: 2px;
}