@import "./globals/_theme.scss";

.website {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-width: $page-minimum-width;
  @include themed() {
    background-color: t($background);
  }
  transition: background-color $theme-transition;
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #0a1929;
}

::-webkit-scrollbar-thumb {
  background: darken(#0a1929, 5%);
  border-radius: 3px;
}
