@import "./globals/theme.scss";

.website {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-width: $page-minimum-width;
  @include themed() {
    background: linear-gradient(
      90deg,
      t($background-sides) -10%,
      t($background-center) 50%,
      t($background-sides) 110%
    );
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f5f4ec;
}

::-webkit-scrollbar-thumb {
  background: #02141e;
}
